<h1>Maclean's iPhone parser</h1>
<p>The following files have been processed:</p>
<% @index.each do |file| %>
<%= link_to file, file.gsub("public", "") %><br />
<% end %>
<br /><br/>

<strong>Archive:</strong><br />
<% unless @zip.nil? %>
	<% @zip.each do |file| %>
		<%= link_to file, file.gsub("public", "") %><br />
	<% end %>
<% end %>
