<h1>iPhone parser output</h1>

<strong>Archive:</strong><br />
<% unless @zip.nil? %>
	<% @zip.each do |file| %>
		<%= link_to file, file.gsub("public", "") %><br />
	<% end %>
<% end %>

<p><b>The following files have been processed:</b><br/>
<% @index.each do |file| %>
<%= link_to file, file.gsub("public", "") %><br />
<% end %>
</p>
<br /><br/>

