.destination.iphone = link_to image_tag('iphone.jpg'), controller: :issues, action: :index
.destination.wordpress = link_to image_tag('wordpress.jpg'), controller: :web_issues, action: :index

.manage-pub style="text-align:center"
	= link_to 'Manage publications', controller: :publications, action: :index
