<!DOCTYPE html>
<html>
<head>
  <title>MacleansParser</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body style="margin:0">
<header style="width:100%;position:fixed;top:0;height:40px;color:#fff;background:#666">
	<div class="container">
		<h1>Rogers Publishing parser</h1>
	</div>
</header>
<div class="container" id="main" style="width:960px;margin: 0 auto">
<%= yield %>
</div>
</body>
</html>
